<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta('icon') ?>

    <?= $this->Html->css('base.css') ?>
    
    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    
    <style type="text/css">

        input[type="submit"] {
            border-radius: 6px;
        }

        .input-lg {
            height: 46px !IMPORTANT;
            padding: 10px 16px !IMPORTANT;
            font-size: 18px !IMPORTANT;
            line-height: 1.3333333 !IMPORTANT;
            border-radius: 6px !IMPORTANT;
        }
    
    
        .jumbotron h1, .jumbotron p, form {
            text-align: center;

        }
        
        .jumbotron .row{
            max-width: none;
        }
    </style>
    
    <?= $this->fetch('script') ?>
</head>
<body>
    <?= $this->Flash->render() ?>

        <?= $this->fetch('content') ?>

    <footer>
    </footer>
</body>
</html>
